body, html {
  height: 100%;
  margin: 0;
}
#content {
  position: absolute;
  top: 36%;
  left: 50%;
  left: 16px;
}
#greeting-container {
  margin-top: 20px;
}
#wallpaper{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
#socials{
    width:100px;
    height:90px;
}
p2{
    padding-top: 40px;
    color: #52aaf2;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}
#map{
    position: absolute;
    height:400px;
    left:450px;
    top:400px;
    width:1000px;
}